.App {
padding:20px;

float:left;
color:black;
text-align: center;
width:25%;
}
.MovieList .Card
{
  width: '30rem';
  display:'block';
  margin:'auto';

 
}


.Navbar
{
margin:10px;
text-align: center;


}



.Navbar li
{

display:block;
padding:5px;




}

.Dropdown
{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
 color:black;
}

/* On screens that are 996px or less */
@media screen and (max-width: 1125px) 
{

.App
{
  display:flex;

  width:50%;
   

}

  
  }
  
    
    
   


